<%= tinymce_assets %>
<div data-hook="admin_invitation_form_fields" class="row">
  <div class="form-group">
      <%= f.label :name, :class=>'control-label col-sm-1'%>
      <div class="controls col-sm-11">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= error_message_on :custom_page, :name %>
    </div>
  <br>
  <div class="form-group">
    <%= f.label :route, :class=>'control-label col-sm-1'%>
    <div class="controls col-sm-11">
      <%= f.text_field :route, class: 'form-control' %>
    </div>
    <%= error_message_on :custom_page, :route %>
  </div>
  <br>
  <div class="form-group">
      <%= f.label :content, :class=>'control-label col-sm-1'%>
    <div class="controls col-sm-11">
      <%= f.text_area :content, class: 'tinymce form-control' %>
      <%= error_message_on :custom_page, :message %>
    </div>
  </div>
 </div>
<%= tinymce %>