<% if defined?(image) && image %>
    <%= link_to image_tag(image.attachment.url(:product), :itemprop => "image"), image.attachment.url(:original), :class => 'fancybox zoom-image' %>
    <br />
    <%= link_to image_tag('zoom.gif'), image.attachment.url(:original), :class => 'fancybox zoom-image' %>
<% else %>
        <% url_product = product_image_url(@product) %>
        <% if url_product.is_a?(Proc) then url_product = product_image_url(@product) end %>
        <% Rails.logger.debug url_product.inspect %>
        <%= link_to product_image(@product, :itemprop => "image", :class => 'zoom-click'), url_product, :class => 'zoom-image large-image zoom-click', :rel => 'gallery' %>
        <br />
        <%= link_to image_tag('zoom.gif', :class => 'click-to-zoom'), product_image_url(@product), :class => 'zoom-image click-to-zoom', :rel => 'gallery' %>

        <div id="gallery" style="display:none;">
          <% @product.images.each do |img| %>
              <%= link_to image_tag(img.attachment.url(:product)), img.attachment.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'gallery' %>
          <% end %>
          <% if @product.has_variants? %>
              <% @product.variant_images.each do |i| %>
                  <% next if @product.images.include?(i) %>
                  <%= link_to image_tag(i.attachment.url(:product)), i.attachment.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => "gallery-#{i.viewable_id}" %>
              <% end %>
          <% end %>
        </div>
 <% end %>
