
<div class="col-xs-12 col-sm-6 col-md-4 product">
    <% url_img = product_image_url(product) %>
    <% Rails.logger.debug url_img %>
    <a href="<%=url%>"> <img src="<%= url_img %>"></a>
    <a href="<%=url%>"><h3><%=product.name %></h3></a>
    <a href="<%=url%>"><p><%=product.sku %></p></a>
    <a href="<%=url%>"><h2 class="price">$<%='%.2f' % product.price%></h2></a>
</div>
