<% content_for :page_title do %>
  <%= Spree.t(:new_discount) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_discounts_list), collection_url, icon: 'arrow-left' %>
  </li>
<% end %>

<div data-hook="admin_discount_new_form_header">
  <%= render 'spree/shared/error_messages', target: @discount %>
</div>

<div data-hook="admin_discount_new_form">
  <%= form_for [:admin, @discount] do |f| %>
    <%= render 'form', f: f %>

    <div data-hook="admin_invitation_new_form_buttons">
      <%= render 'spree/admin/shared/new_resource_links' %>
    </div>
  <% end %>
</div>
