<div class="proposition">
  <div class="container">
    <div class="col-xs-12 logo">
        <img src="<%=image_path('logo_2.png')%>">
    </div>

    <div class="row icons">
      <div class="col-xs-6 col-md-3 comp1">
        <img src="<%=image_path('icon_1.png')%>">
        <h2>LA TRANQUILIDAD Y SEGURIDAD<br>DE CONTAR CON MARCAS RECONOCIDAS</h2>
      </div>
      <div class="col-xs-6 col-md-3 comp1">
        <img src="<%=image_path('icon_2.png')%>">
        <h2>GARANTÍA A NIVEL NACIONAL<br>EN TODOS NUESTROS<br>PRODUCTOS</h2>

      </div>
      <div class="col-xs-6 col-md-3 comp1">
        <img src="<%=image_path('icon_3.png')%>">
        <h2>SEGURIDAD EN TUS TRANSACCIONES<br>ON LINE</h2>

      </div>
      <div class="col-xs-6 col-md-3 comp1">
        <img src="<%=image_path('icon_4.png')%>">
        <h2>EMPRESA<br>ORGULLOSAMENTE<br>ECUATORIANA</h2>

      </div>
     </div>
  </div>
</div>