<div class="container icons-block">

  <div class="row">

    <div class="block-title small">Tenemos excelentes herramientas para fortalecer tu gestión</div>
</div>

  <div class="row text-center">

    <div class="hidden-xs col-md-1">
    </div>

      <div class="col-xs-6 col-sm-4 col-md-2 col-xs-offset-0 col-md-offset-1 item">
        <div class="row">
         <div class="col-xs-12 image"><img src="<%=image_path('icon_1b.png')%>"></div>
         <div class="col-xs-12 label">Tienda<br>en línea</div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2 item">
       <div class="row">
        <div class="col-xs-12 image"><img src="<%=image_path('icon_2b.png')%>"></div>
        <div class="col-xs-12 label">Catálogo<br>impreso</div>
       </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2 item">
        <div class="row">
          <div class="col-xs-12 image"><img src="<%=image_path('icon_3b.png')%>"></div>
          <div class="col-xs-12 label">Tu oficina<br>privada</div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2 item">
        <div class="row">
          <div class="col-xs-12 image"><img src="<%=image_path('icon_4b.png')%>"></div>
          <div class="col-xs-12 label">
           Venta a través<br>de redes sociales</div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2 item">
        <div class="row">
          <div class="col-xs-12 image"><img src="<%=image_path('icon_5b.png')%>"></div>
          <div class="col-xs-12 label">Centro de negocios</div>
        </div>
      </div>

    </div>

</div>

