
<div class="secondline">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
      <% if shopping_cart %>
      <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
      <% options = [['Todos','','Todos departamentos'],[]] + @taxons.map {|t| [t.name, t.id, t.name]} %>

                <form class="form-inline busqueda" action="<%=spree.products_path%>" method="get">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <button id="select-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <% options.each do |opt| %>
                            <% if opt.empty? %>
                                <li role="separator" class="divider"></li>
                            <% else %>
                                <li data-id="<%=opt[1]%>" data-name="<%=opt[0]%>"><a href="#"><%=opt[2]%></a></li>
                            <%end%>
                        <% end %>
                      </ul>
                      <input type="hidden" name="taxon" class="category">
                    </div><!-- /btn-group -->
                    <input type="text" name="keywords" class="form-control" aria-label="Buscar">
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                     </span>
                  </div><!-- /input-group -->

                </form>


      <% end %>
      <% if links %>
        <div class="navbar-header">
          <div class="navbar-collapse">
            <ul class="nav navbar-nav">
              <% links.each do |link| %>
                  <li><%= link_to link[:name], link[:url] %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      </div>
      <% if shopping_cart %>
      <div class="col-xs-12 col-sm-4">
        <div class="navbar-header navbar-right">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                 <li id="link-to-cart" data-hook>
                  <noscript>
                    <%= link_to Spree.t(:cart), '/cart' %>
                  </noscript>
                  &nbsp;
                </li>
                <script>Spree.fetch_cart()</script>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $('.dropdown-menu li').click(function(e){
        e.preventDefault();
        var selected = this.getAttribute('data-name');
        var id = this.getAttribute('data-id');
        $('.category').val(id);
        $('button#select-button').html(selected+' <span class="caret"></span>');
    });
</script>
